#raw data, processed data, and cache should not be tracked in git
data/cache
data/raw
data/processed

#report files should not be tracked
report/

#model files should not be tracked (will save trained models here, but not the code to train them)
models/
